<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Journal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-label>Happy</ion-label>
    <ion-item>{{this.api.report.smile}}</ion-item>
    <ion-label>Okay</ion-label>
    <ion-item>{{this.api.report.neutral}}</ion-item>
    <ion-label>Not Okay</ion-label>
    <ion-item>{{this.api.report.mad}}</ion-item>






  <h1>Add any other personal notes here</h1>



<ion-input required type='text' placeholder="Tell me more about your day!" [(ngModel)]='inputStuff'></ion-input>
<ion-button (click)="saveVariable()">Submit</ion-button>
<br><br><br><br><br><br>
<ion-button (click)="getVariable()">View</ion-button>
<ion-item>
  <ion-label>{{showData}}</ion-label>
</ion-item>

</ion-content>