.page2 {
    text-align: center;
    border: 2px;
}
ion-input {
    text-align: center;
    height: 300px; 
    width: 100%;
    --background: rgba(213, 233, 240, 0.721);
    // --padding-bottom: 3px;
    // --padding-end: ;
    // --padding-start: ;
    // --padding-top:	;


}