<ion-header>
  <ion-toolbar>
    <ion-title>Parent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;" padding>
  <ion-card>
    <ion-card-title  class="welcome">Welcome back!!!</ion-card-title>
  </ion-card>




  <ion-card>
<h1> User's Reports</h1>
    <ion-button (click)="emotion() "> Emotion</ion-button>
    <ion-button (click)="progress()">Progress</ion-button>
    <br>
    <!-- <ion-button (click)="emo()">Emotion</ion-button>
    <ion-button (click)="prog()">Progress</ion-button> -->
  </ion-card>

  

  <ion-card>
    <h1>User's Schedule</h1>
    <ion-button (click)="addEvent()">Add Event</ion-button>
    <ion-button (click)="addMore()">View Calendar</ion-button>
    <ion-button (click)="list()">To-Do-List</ion-button>
    <!-- <ion-button (click)="daily()">Daily Goals</ion-button> -->

    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime display-format="MM/DD/YYYY"></ion-datetime>
    </ion-item>
  </ion-card>

  <ion-card>
    
    <ion-button (click)="settings()">Settings</ion-button>
  </ion-card>

</ion-content>  