h1 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times;
    color: #0039a4;
}
.welcome {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times;
    color: #0039a4;
}