<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Camera
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content >
  <ion-img [src]='base64Image' alt='No picture'></ion-img>
  <ion-list-header>Select subject:</ion-list-header>

  <ion-item>
    <ion-label>Homework</ion-label>
    <ion-select id='new1' placeholder="Select if apply">
      
      <!-- <ion-select-option value="m">English</ion-select-option> -->
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Tasks</ion-label>
    <ion-select id='new2' placeholder="Select if apply">
      <!-- <ion-select-option value="f">Grabage</ion-select-option>
      <ion-select-option value="m">Take medication</ion-select-option> -->
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Activities</ion-label>
    <ion-select id='new3' placeholder="Select if apply">
      <!-- <ion-select-option value="f">Basketball practice</ion-select-option>
      <ion-select-option value="m">Chess club</ion-select-option> -->
    </ion-select>
  </ion-item>
  <ion-button (click) = "goToHome()">Submit</ion-button>
</ion-content>