
<ion-content class="body" padding id='loginpage'>

        <div>
            <img src="assets/icon/adhd.jpg" alt="">
        </div>
      <br><br><br>
      
        <div id="main1" style="display: block"> 
            <div>
                <ion-button  (click)="showHide1()">Login</ion-button>
            </div>
            <div>
                <ion-button  (click)="signUp()"> Sign Up </ion-button>
            </div>
        </div>
        <!-- <ion-item>
        <ion-input required type="text" placeholder="Enter Username"></ion-input>
        <ion-input required type="password" placeholder="Enter Password"></ion-input>
        <ion-input required type="password" placeholder="Confirm Password"></ion-input>
      </ion-item> -->
      
        <div id="login" style="display: none">
            <div>
                <input [(ngModel)]="email" type="email" placeholder="Enter Email" required>
                <input [(ngModel)]="password" type="password" placeholder="Enter Password" required>
                <!-- <input type="password" placeholder="Confirm Password" required> -->
            </div>
            <ion-button (click)="login()">Login</ion-button>
      
      
      
            <div>
                <ion-button (click)="goBack1()">Back</ion-button>
            </div>
      
        </div>
      
      
        <div style='display: none;' id="main">
            <div>
                <ion-button (click)="showHide()">User</ion-button>
            </div>
            <div>
                <ion-button (click)="showHide()">Parent</ion-button>
            </div>
            <div>
                <a>
                    <ion-button (click)="goHome()">Back</ion-button>
                </a>
            </div>
        </div>
      
      
      
      
      
        <div id="questions1" style="display:none" >
      
            <ion-list>
                <ion-item>
                    <ion-input required type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input required type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
                </ion-item>
                <ion-item>
                    <label for="date">Date of Birth</label>
                      <ion-input slot='end' required type="date" placeholder="Date of Birth" [(ngModel)]="DOB"></ion-input>
                  </ion-item>
                <!-- <ion-item>
                    <label for="uname"><b>Date of Birth</b></label>
                  <input type="date" slot='end' placeholder="Enter D.O.B">
                </ion-item> -->
                <ion-item>
                  <ion-label>Gender</ion-label>
                  <ion-select [(ngModel)]='gender' (ionChange)='onChange(gender)' placeholder='Select one'>
                    <ion-select-option value="Female">Female</ion-select-option>
                    <ion-select-option value="Male">Male</ion-select-option>
                  </ion-select>
                </ion-item>
      
      
            </ion-list>
            <div padding>
                <ion-button (click)="register()">Register</ion-button>
            </div>
      
      
      
      
            <!-- <input type="text" placeholder="Enter First Name">
          <input type="text" placeholder="Enter Last Name"> -->
            <!-- <input  type="email" placeholder="Enter Email Adress"> -->
            <!-- <input type="text" placeholder="Create Username" name="uname" required> -->
            <!-- <input type="password" placeholder="Create Password" name="psw" required> -->
      
      
      
      
      
            <div>
                <ion-button (click)="goBack()">Back</ion-button>
            </div>
        </div>
      
      
      
      
        <div id="questions2" style="display:none">
            <br><br>
            <label for="uname"><b>Date of Birth</b></label>
            <br>
            <input type="date" placeholder="Enter D.O.B">
            <br><br>
            <label for="uname"><b>Zip Code</b></label>
            <br>
            <input type="number" placeholder="Enter Zip Code">
      
            <!-- <input type="text" placeholder="Create Username" name="uname" required>
          <input type="password" placeholder="Create Password" name="psw" required> -->
            <!-- <input type="password" placeholder="Confirm Password" name="psw" required> -->
            <div>
                <ion-button (click)="enter2()">Enter</ion-button>
            </div>
            <div>
                <ion-button (click)="goBack2()">Back</ion-button>
            </div>
        </div>
      
        <div id="questions3" style="display:none">
            <input type="text" placeholder="Nickname" name="uname" required>
            <input type="text" placeholder="Gender" required>
            <input type="number" placeholder="Age" required>
            <input type="text" placeholder="Height" required>
            <input type="text" placeholder="Weight" required>
            <div>
                <ion-button (click)="enter3()">Enter</ion-button>
            </div>
            <div>
                <ion-button (click)="goBack3()">Back</ion-button>
            </div>
        </div>
        <!-- 
      <div>
          <img src="assets/icon/adhd.jpg" alt="">
      </div>
      <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-back-button></ion-back-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
              <div id="main">
                  <div>
                      <ion-button shape="round" color="primary" fill="outline" (click)="showHide()">User</ion-button>
                  </div>
                  <div>
                      <ion-button shape="round" color="primary" fill="outline" (click)="showHide()">Parent</ion-button>
                  </div>
                  <div>
                      <a>
                          <ion-button shape="round" color="primary" fill="outline" (click)="goHome()">Back</ion-button>
                      </a>
                  </div>
              </div>
              <ion-slides>
          <ion-slide>
              <div>
                  <input type="text" placeholder="Enter First Name">
                  <input type="text" placeholder="Enter Last Name">
                  <input type="email" placeholder="Enter Email Adress">
                  <br><br>
                  <label for="uname"><b>Date of Birth</b></label>
                  <br>
                  <input type="date" placeholder="Enter D.O.B">
                  <br><br>
                  <label for="uname"><b>Zip Code</b></label>
                  <br>
                  <input type="number" placeholder="Enter Zip Code">
                  <div>
                      <ion-button shape="round" color="primary" fill="outline" (click)="enter()">Enter</ion-button>
                  </div>
                  <div>
                      <ion-button shape="round" color="primary" fill="outline" (click)="goBack()">Back</ion-button>
                  </div>
              </div>
          </ion-slide>
          <ion-slide>
              <div>
                  <input type="text" placeholder="Create Username" name="uname" required>
                  <input type="password" placeholder="Create Password" name="psw" required>
                  <input type="password" placeholder="Confirm Password" name="psw" required>
                  <div>
                      <ion-button shape="round" color="primary" fill="outline" (click)="enter2()">Enter</ion-button>
                  </div>
                  <div>
                      <ion-button shape="round" color="primary" fill="outline" (click)="goBack2()">Back</ion-button>
                  </div>
              </div>
          </ion-slide>
          <ion-slide>
              <div>
                  <input type="text" placeholder="Nickname" name="uname" required>
                  <input type="text" placeholder="Gender" required>
                  <input type="number" placeholder="Age" required>
                  <input type="text" placeholder="Height" required>
                  <input type="text" placeholder="Weight" required>
                  <div>
                      <ion-button shape="round" color="primary" fill="outline" (click)="enter3()">Enter</ion-button>
                  </div>
                  <div>
                      <ion-button shape="round" color="primary" fill="outline" (click)="goBack3()">Back</ion-button>
                  </div>
              </div>
          </ion-slide>
          <ion-slide></ion-slide>
      </ion-slides> -->
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      </ion-content>