ion-content{
    text-align: center;
}

input[type=text], input[type=password], input[type=number], input[type=email]{
    text-align-last: center;
    width: 80%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
}    


 label {
     font-size: 20px;
     color: black;
 }

 .masters {
    background-color: green;
}
ion-content {
    // background-color: rgb(101, 41, 41);
    text-align: center;
}
:root {
    --primary-color: orange;
  }
  button {
    background: var(--primary-color);
  } 