

<body style='background-image: url("assets/full-background.png");background-repeat: no-repeat;background-size: cover'>
  <div id='yes' style="text-align:center">
      
      <div>
          <h1 style="color: blue;font-size: 50px;font-variant: small-caps;text-shadow: 1.5px 1.5px black">Balloon Tap</h1>
      </div>
      <div id='root'>
          <div>
              <ion-button id='changebtn' (click)="showhide()">Show Instruction</ion-button>
          </div>
          <div class='font1' style='display:none; text-align: center' id='list'>
           <p>Tap when the ballons appear on screen</p>
           <p>Score will be totaled at the end</p>
          </div>
      </div>
      <br>
      <div id='changebtn1'>
          <ion-button (click)="dotsh()">Start Game</ion-button>
      </div>
      <br><br><div>
      <div style='display:none' id="dot1" (click)="upcount()">
          <img src="assets/ballon.png" alt="err">
      </div>
      <div style='display:none' id="dot2" (click)="upcount()">
          <img src="assets/ballon.png" alt="err">
      </div>
      <div style='display:none' id="dot3" (click)="upcount()">
          <img src="assets/ballon.png" alt="err">
      </div>
  </div>
      <b><div style='color: blue;text-shadow: .5px .5px black;position: absolute; bottom: 17%;font-size:30px;font-variant: small-caps;font-size: 20px' id='result'>
        Your Score: {{this.count}}
        <br>
        High Score: {{this.api.User.ballonmax}}
      </div></b>
      <div style='display:none; position: absolute;bottom: 50%; text-align: center' id='newgame'>
          <h3 style="color: blue;text-shadow: .5px .5px black;font-variant: small-caps;">Are you happy with your score?</h3>
          <ion-button input='Submit' (click)="clickyes()">Yes</ion-button>
          <ion-button input='Submit' (click)="clickyes()">NO</ion-button>
      </div>
      
  </div>
  <div id='page2' style="display:none;text-align: center">
      <h1 style='color:blue; text-shadow: .5px .5px black'>Tell me about it</h1>
      <input style='height: 70px;width: 80' type="text" placeholder="Text here">
      <br><ion-button (click)="clicksubmit()">Submit</ion-button>
  </div>
  <div id='page3' style='display:none;text-align: center'>
      <h1 style='color:green; text-shadow: .5px .5px black'>Thank you for your input</h1>
      <br><br><br>
      <h1 style='color:green; text-shadow: .5px .5px black'>Here is your reward</h1>
      <h1 id='point' style='color:yellow;font-variant: small-caps; text-shadow: .5px .5px black'></h1>
  </div>
  <script src="1.js"></script>
  <audio id='sound' src="blop.mp3" type="audio/mpeg"></audio>

</body>