<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ADHD myway
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <h1 id='div1' style="text-align: center;">Welcome back</h1>
  </ion-card>


  <ion-buttons id ='btn' style="width:35%;display:none ">

    <ion-card><img (click)='showAlertsmile()' src="assets/smiley.png" alt=""></ion-card>
    <ion-card><img (click)='showAlertneutral()' src="assets/neutral.png" alt=""></ion-card>
    <ion-card><img (click)='showAlertmad()' src="assets/mad.png" alt=""></ion-card>
  </ion-buttons>
  <div id='char' style=' width: 180px;float:right;'></div>
  <!-- <img id='g1' style=' width: 180px;float:right;display:none' src="assets/girl1.png" alt="err">
  <img id='g2' style=" width: 180px;float:right;display:none" src="assets/girl2.png" alt="err">
  <img id='g3' style=" width: 180px;float:right;display:none" src="assets/girl3.png" alt="">
  <img id='b1' style=" width: 180px;float:right;display:none" src="assets/boy1.png" alt="">
  <img  id='b2' style=" width: 180px;float:right;display:none" src="assets/boy2.png" alt="">
  <img  id='b3' style=" width: 180px;float:right;display:none" src="assets/boy3.png" alt=""> -->

</ion-content>