<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        myStar
      </ion-title>
    </ion-toolbar>
  </ion-header>
  

  <!-- <ion-content>
    <ion-button (click)='getdata()'>
      Get it
    </ion-button>
    <h1>
      {{FirstName}}
    </h1>
    //<button (click)='add10()'>Add</button>
    <button (click)='print()'>RUN</button> //

    <ion-button (click)='change()'>Change avatar</ion-button>

<div id='hi'>Hi</div>
<div id='me'>Me</div>
<div id='tmr'>Tomorrow</div>
    <button (click)='move()'>Move</button>
  </ion-content> -->


  <ion-content>
<div style="text-align:center"><h1>⭐{{this.api.User.stars}}</h1></div>
<div style="text-align:center">
  <div style="text-align:center"><img style='height: 70px' src="assets/banner1.png" alt=""></div>
  <div>
    <div style="display:inline-block">
        <img style="width: 100px;padding-left: 10px" src="assets/glove.png" alt=""><p id='300' style="padding-left: 25px">⭐300</p>
      </div>
  
  <div style="display:inline-block"><p id='gloveed' style="display:none">Equipped</p>
    <button id='glovee' (click)='glove()'>Buy</button></div>
  
  </div>
  <div style="display:inline-block">
      <img style="width: 100px;padding-left: 10px" src="assets/boot.png" alt=""><p id='200' style="padding-left: 25px">⭐200</p>
    </div>

<div style="display:inline-block"><p id='equipped' style="display:none">Equipped</p>
  <button id='equip' (click)='shoe()'>Buy</button></div>
</div>





    <div style="text-align:center"><img style='height: 70px' src="assets/banner2.png" alt=""></div>
    
    <div style="text-align:center">
      <ion-button (click)='charac()'>CHANGE YOUR CHARACTER</ion-button>
    <p>⭐2000</p></div>
    <!-- <div>
    <img id='g1' style=' width: 180px;float:left;display:none' src="assets/girl1.png" alt="err">
    <img id='g2' style=" width: 180px;float:left;display:none" src="assets/girl2.png" alt="err">
    <img id='b1' style=" width: 180px;float:left;display:none" src="assets/boy1.png" alt="">
    <img  id='b2' style=" width: 180px;float:left;display:none" src="assets/boy2.png" alt="">
  </div> -->


  </ion-content>
