ion-content{
    text-align: center;
}

input[type=text], input[type=password] {
    text-align-last: center;
    width: 80%;
    height: 50px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
}    