<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Task
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card id='todo'>
        <ion-card-header>To-do:</ion-card-header>
        <ion-list>
          
        </ion-list>
      </ion-card>
      <ion-button (click)='classFunction()'>Add</ion-button>
    </ion-slide>
    <ion-slide>
      <ion-card id='doing'>
        <ion-card-header>Doing:</ion-card-header>
        <ion-list>
           
        </ion-list>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card id='done'> 
        <ion-card-header>Done:</ion-card-header>
        <ion-list>
          
        </ion-list>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>