<ion-header>
  <ion-toolbar>
    <ion-title>Parent</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



    <ion-card>
        <h1 id='div1' style="text-align: center;">Welcome back</h1>
      </ion-card>

      <ion-card>

        <ion-button (click) = "donate()">Donations</ion-button>
        <ion-button (click) = "emo()">Emotion</ion-button>
        <ion-button (click) = "prog()">Progress</ion-button>
          <ion-button (click) = "settings()">Settings</ion-button> 
          <ion-button (click) = "list()">To-Do-List</ion-button>
          <ion-button (click) = "daily()">Daily Goals</ion-button>
      </ion-card>
    
    

    
      
    
    
      

</ion-content>